.card{
    /*width: 250px;*/
    background: rgb(255, 255, 255);
    margin: 15px;
    padding: 10px;
    box-shadow: 4px 4px 4px 4px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    position: relative;
}

.cardInfo{
font-size: 16px;
margin: 4px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, 300px);
    gap: 15px;
    margin-top: 15px;
}

#deleteBtn{
    position: absolute;
    width: 20px;
    height: 20px;
    align-self: self-end;
    cursor: pointer;
}

.read_more_btn{
    padding: 5px 5px;
    background-color: #63AEFF;
    color: white;
    border: 1px solid #63AEFF;
    border-radius: 4px;
    text-align: center;
    margin: 5px 0;
    cursor: pointer;
    align-self: center;
}

.card_hidden{
    display: none;
}

